.wrapper {
    /* background: url("img/background.jpg") center center no-repeat; */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2ab0ed+0,bfe8f9+77,e4f5fc+100 */
  background: #2ab0ed; /* Old browsers */
  background: -moz-linear-gradient(top, #2ab0ed 0%, #bfe8f9 77%, #e4f5fc 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #2ab0ed 0%,#bfe8f9 77%,#e4f5fc 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #2ab0ed 0%,#bfe8f9 77%,#e4f5fc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ab0ed', endColorstr='#e4f5fc',GradientType=0 ); /* IE6-9 */
  height: 100vh;
}

.main {
  text-align: center;
  margin: 0 auto;
  background: url("img/background.jpg") center center no-repeat;
  width: 80%;
  height: 100vh;
  font-family: 'Source Serif Pro', serif;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
